@model WebApp.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label">Loại sản phẩm</label>
                <select class="form-select" asp-for="ProductTypeId" aria-label="Default select example">
                    @foreach (var item in ViewBag.data)
                    {
                        <option value=@item.Id>@item.Name</option>
                        
                    }
                    <option selected="selected" disabled value=@ViewBag.product.ProductTypeId>@ViewBag.producttype.Name</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SKU" class="control-label"></label>
                <input asp-for="SKU" class="form-control" value="@ViewBag.product.SKU" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@ViewBag.product.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@ViewBag.product.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@ViewBag.product.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock"  class="form-control" value="@ViewBag.product.Stock"/>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="FileImage" class="control-label"></label>
                <input asp-for="FileImage" accept="images/*" type='file' id="imgInp" class="form-control" />
                <span asp-validation-for="FileImage" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <img asp-for="Image" id="blah" src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.product.ImageFile)" width="150" height="150" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    @* script của upload *@

    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>